<header>
  <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>

  <ul class="nav-list">
    <li><a href="/projects/">projects/</a></li>
    <li><a href="/resume/">resume/</a></li>
  </ul>

  <ul class="nav-list">
    <li>
      <a href="mailto:{{ site.email }}" target="_top">email</a>
    </li>
    <li>
      <a
        rel="noopener"
        href="https://github.com/{{ site.github }}"
        target="_blank"
        >github</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://www.linkedin.com/in/{{ site.linkedin }}"
        target="_blank"
        >linkedin</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://twitter.com/{{ site.twitter.username }}"
        target="_blank"
        >twitter</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://instagram.com/{{ site.instagram }}"
        target="_blank"
        >instagram</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://open.spotify.com/user/{{ site.spotify }}"
        target="_blank"
        >spotify</a
      >
    </li>
    <li>
      <a
        rel="noopener"
        href="https://last.fm/user/{{ site.lastfm }}"
        target="_blank"
        >last.fm</a
      >
    </li>
  </ul>
</header>
