---
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

import PageLayout from "../layouts/PageLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const RECENT_POST_COUNT = 5;

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, RECENT_POST_COUNT);
---

<PageLayout description={"Chehan Ratnasiri's personal webspace."}>
  <section>
    <span class="flex items-center gap-4">
      <Image
        src="https://www.gravatar.com/avatar/f3791ecaa641099539cd5a7d266163c6?s=48"
        srcset="https://www.gravatar.com/avatar/f3791ecaa641099539cd5a7d266163c6?s=48 1x, https://www.gravatar.com/avatar/f3791ecaa641099539cd5a7d266163c6?s=96 2x"
        height={48}
        width={48}
        format="png"
        alt="avatar"
        class="rounded-full"
      />
      <p class="text-2xl">Hi! I&apos;m Chehan</p>
    </span>

    <p class="mt-4">
      I&apos;m a software developer currently working at
      <a
        href="https://www.vcgs.org.au/"
        target="_blank"
        rel="noopener"
        class="underline inline-block"
      >
        VCGS
      </a>.
    </p>

    <p>
      You can find me on:
      <ul class="list-disc list-inside flex flex-col gap-y-2 md:gap-y-0">
        <li>
          <a
            href="https://www.linkedin.com/in/chehanr/"
            target="_blank"
            rel="noopener"
            class="underline"
          >
            LinkedIn
          </a>
        </li>
        <li>
          <a
            href="https://github.com/chehanr"
            target="_blank"
            rel="noopener"
            class="underline"
          >
            GitHub
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/chehanr"
            target="_blank"
            rel="noopener"
            class="underline"
          >
            Twitter
          </a>
        </li>
      </ul>
    </p>

    <div class="mt-6 text-sm">
      <p class="text-2xl">Recent posts</p>

      <ul class="mt-4">
        {
          posts.map((post) => (
            <li class="flex flex-row gap-4">
              <FormattedDate date={post.data.pubDate} />
              <div class="flex-grow overflow-hidden truncate w-0">
                <a href={`/posts/${post.slug}/`} class="underline">
                  {post.data.title}
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</PageLayout>
