---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout pageTitle="Resume" description="My resume">
  <!-- https://iframely.com/domains/google-docs -->
  <div
    style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 129.4118%;"
  >
    <iframe
      src="https://drive.google.com/file/d/1yUPVelqdbJkLnhHYdBlJNc2Vh2X89f4F/preview?usp=embed_googleplus"
      style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"
      allowfullscreen></iframe>
  </div>
</PageLayout>
