---
import { SITE_TITLE } from "../consts";
import { ThemeSwitch } from "./ThemeSwitch";

export type Props = {
  pageTitle?: string;
};

const { pageTitle } = Astro.props;
---

<header>
  <div class="flex flex-row items-center gap-2">
    <h1 class="flex-grow font-bold text-lg md:flex-none">
      <a href="/" class="hover:underline inline-block">
        {SITE_TITLE}
      </a>
    </h1>
    <h2 class="font-light hidden md:block md:flex-grow">{pageTitle}</h2>
    <ThemeSwitch client:load />
  </div>
</header>
