---
import type { CollectionEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";

import FormattedDate from "../components/FormattedDate.astro";

export type Props = CollectionEntry<"posts">["data"];

const { title, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props;
---

<article class="flex flex-col gap-4">
  <div class="prose dark:prose-invert">
    {
      heroImage && (
        <Picture
          src={heroImage}
          alt={heroImageAlt || ""}
          widths={[400, 800, 1200]}
          aspectRatio="16:9"
        />
      )
    }
    <h1>{title}</h1>
  </div>
  <div class="flex flex-row gap-4 text-xs">
    <div>Published on <FormattedDate date={pubDate} /></div>
    {
      updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  </div>
  <div class="prose dark:prose-invert">
    <slot />
  </div>
</article>
